@import "tailwindcss";
@import "@fontsource/lato/400.css";
@import "@fontsource/neuton/400.css";

@theme {
  --font-sans: "Lato", system-ui, sans-serif;
  --font-serif: "Neuton", serif;
}

body {
  font-family: var(--font-sans);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

@layer components {
  .full-height {
    height: 100vh;
    height: 100svh;
  }
}
