---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro'
import SolarMap from '../components/SolarMap.astro'
---

<Layout>
	<main>
		<Hero/>
		<SolarMap />
	</main>
</Layout>
