---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import Tutorial from "../components/Tutorial.astro";
import DataMap from "../components/DataMap.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <Hero />
    <Tutorial />
    <DataMap />
    <Footer />
  </main>
</Layout>
