---
import Stats from "../components/ui/Stats";
---

<section class="bg-[#253366] text-[#f8dc95]">
  <Stats />
</section>

<style>
  .video-tech {
    mask-image: url("/src/assets/images/27.png");
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: 140%;
  }
</style>
