<footer
  class="bg-[#FFDC8A] px-3 pt-15 pb-14 md:px-6 lg:px-10.75 md:pt-22 md:pb-20 relative flex flex-col justify-center items-center"
>
  <div
    class="h-full absolute w-px bg-[#FFFFFF80] top-0 left-3 md:left-6 lg:left-10.75"
  >
  </div>
  <a
    target="_blank"
    class="text-[#414db8] font-neuton text-center border border-[#414db8] text-[1rem] leading-5.5 py-3.25 px-14.25 md:text-[1.375rem] md:leading-6.25 md:py-4 md:px-21.5 hover:bg-white duration-300 ease-in-out"
    href="https://www.instagram.com/ecoplan.alberti/"
    >Descubrir más sobre la <br />Soberanía Energética</a
  >
  <div class="flex flex-col items-center">
    <a
      href="https://wa.me?text=https://soberania-energetica.vercel.app/%20¡Visitá%20nuestra%20página!%20"
      target="_blank"
      rel="noopener noreferrer"
      class="flex justify-center items-center font-lato text-[1rem] text-[#414db8] mt-7 md:mt-6 relative hover:underline font-light"
    >
      Compartir la página
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="18px"
        viewBox="0 -960 960 960"
        width="18px"
        fill="#414db8"
        class="ml-2"
      >
        <path
          d="M680-80q-50 0-85-35t-35-85q0-6 3-28L282-392q-16 15-37 23.5t-45 8.5q-50 0-85-35t-35-85q0-50 35-85t85-35q24 0 45 8.5t37 23.5l281-164q-2-7-2.5-13.5T560-760q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35q-24 0-45-8.5T598-672L317-508q2 7 2.5 13.5t.5 14.5q0 8-.5 14.5T317-452l281 164q16-15 37-23.5t45-8.5q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T720-200q0-17-11.5-28.5T680-240q-17 0-28.5 11.5T640-200q0 17 11.5 28.5T680-160ZM200-440q17 0 28.5-11.5T240-480q0-17-11.5-28.5T200-520q-17 0-28.5 11.5T160-480q0 17 11.5 28.5T200-440Zm480-280q17 0 28.5-11.5T720-760q0-17-11.5-28.5T680-800q-17 0-28.5 11.5T640-760q0 17 11.5 28.5T680-720Z"
        ></path>
      </svg>
    </a>
  </div>
  <div
    class="h-full absolute w-px bg-[#FFFFFF80] top-0 right-3 md:right-6 lg:right-10.75"
  >
  </div>
</footer>
