---

---

<section
  class="bg-[#f8dc95] px-[0.75rem] pt-[3.75rem] pb-[3.5rem] smMd:px-[1.5rem] lg:px-[2.6875rem] smMd:pt-[5.5rem] smMd:pb-[5rem] relative flex flex-col justify-center items-center"
>
  <div
    class="h-full absolute w-[1px] bg-[#FFFFFF80] top-0 left-[0.75rem] smMd:left-[1.5rem] lg:left-[2.6875rem]"
  >
  </div><div
    class="text-[#414db8] font-neuton text-center border-[1px] border-[#414db8] text-[1rem] leading-[1.375rem] py-[0.8125rem] px-[3.5625rem] smMd:text-[1.375rem] smMd:leading-[1.5625rem] smMd:py-[1rem] smMd:px-[5.375rem] hover:bg-white transition-colors duration-300 ease-in-out"
  >
    Discover more about the <br />World Energy Council
  </div>
  <div class="flex flex-col items-center">
    <button
      class="flex justify-end items-center font-neuton text-[2rem] text-bbc-blue-deep mt-[1.75rem] smMd:mt-[1.5rem] relative hover:underline font-light cursor-pointer transition-colors duration-300 ease-in-out text-[#414db8]"
    >
      Share this page
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#414db8"
        class="ml-2 h-[28px] w-[28px]"
        ><path
          d="M680-80q-50 0-85-35t-35-85q0-6 3-28L282-392q-16 15-37 23.5t-45 8.5q-50 0-85-35t-35-85q0-50 35-85t85-35q24 0 45 8.5t37 23.5l281-164q-2-7-2.5-13.5T560-760q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35q-24 0-45-8.5T598-672L317-508q2 7 2.5 13.5t.5 14.5q0 8-.5 14.5T317-452l281 164q16-15 37-23.5t45-8.5q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T720-200q0-17-11.5-28.5T680-240q-17 0-28.5 11.5T640-200q0 17 11.5 28.5T680-160ZM200-440q17 0 28.5-11.5T240-480q0-17-11.5-28.5T200-520q-17 0-28.5 11.5T160-480q0 17 11.5 28.5T200-440Zm480-280q17 0 28.5-11.5T720-760q0-17-11.5-28.5T680-800q-17 0-28.5 11.5T640-760q0 17 11.5 28.5T680-720Zm0 520ZM200-480Zm480-280Z"
        ></path></svg
      >
    </button>
    <div
      class="h-full absolute w-[1px] bg-[#FFFFFF80] top-0 right-[0.75rem] smMd:right-[1.5rem] lg:right-[2.6875rem] cursor-pointer"
    >
    </div>
  </div>
</section>
