---
import MuniLogo from "../assets/images/ICON.jpg";
import EdenLogo from "../assets/images/EdenMini.png";
import EcoplanLogo from "../assets/images/Ecoplan.png";
import PuntoLogo from "../assets/images/Punto.jpg";
---

<nav
  class="bg-[#F8DC95CC] text-[#253366] px-3 md:px-6 lg:px-10.75 w-full max-h-[60px] fixed top-0 z-50 border-b border-[#FFFFFFB2]"
>
  <div
    class="h-full py-2.5 px-0.5 md:px-4 md:py-2 lg:px-5.5 flex items-center justify-between border-x border-[#FFFFFFB2]"
  >
    <div class="w-full max-w-5xl mx-auto flex items-center justify-around">
      <a class="flex items-center select-none" href="/">
        <img src={MuniLogo.src} alt="" class="h-10 md:h-[46px] object-cover" />
        <h1
          id="text-icon"
          class="font-lato font-bold hidden md:block md:text-[1rem] leading-none ml-1 transition-colors duration-300"
        >
          Municipalidad <br />de Alberti
        </h1></a
      >
      <a class="flex items-center select-none" href="">
        <img
          src={EdenLogo.src}
          alt=""
          class="h-10 md:h-[46px] scale-90 object-cover"
        />
      </a>
      <a class="flex items-center select-none" href="">
        <img
          src={EcoplanLogo.src}
          alt=""
          class="h-10 md:h-[46px] object-contain"
        />
      </a>
      <a class="flex items-center select-none" href="">
        <img
          src={PuntoLogo.src}
          alt=""
          class="h-10 md:h-[46px] object-cover rounded-full"
        />
      </a>
    </div>
  </div>
</nav>
