---
import world from "../assets/world_logo.png";
import bbc from "../assets/bbc_logo.png";
import logo from "../assets/logo.png";
---

<header
  class="bg-[#F8DC95CC] text-bbc-blue-navy px-[0.75rem] smMd:px-[1.5rem] lg:px-[2.6875rem] w-full fixed top-0 z-50 border-b-[1px] border-[#FFFFFFB2]"
>
  <div
    class="py-[0.4375rem] smMd:px-[1rem] smMd:py-0 lg:px-[1.375rem] flex items-center justify-between border-x-[1px] border-[#FFFFFFB2]"
  >
    <a class="flex items-center justify-start" href="#">
      <img
        class="smMd:h-[60px] smMd:w-[73px]"
        src={world.src}
        alt="World Energy Council"
      />
    </a>
    <a class="flex items-center justify-start">
      <img
        class="smMd:h-[60px] smMd:w-[73px] object-contain"
        src={logo.src}
        alt=""
      />
    </a>
    <div class="flex flex-col justify-end items-end pr-[0.563rem] smMd:pr-[0]">
      <div class="relative h-[15px] w-[106px] smMd:h-[16px] smMd:w-[119px]">
        <img src={bbc.src} alt="BBC StoryWorks" />
      </div>
    </div>
  </div>
</header>
