---
import MuniLogo from "../assets/images/ICON.webp";
import EdenLogo from "../assets/images/EdenMini.webp";
import EcoplanLogo from "../assets/images/Ecoplan.webp";
import PuntoLogo from "../assets/images/Punto.webp";
import Image from "astro/components/Image.astro";
---

<nav
  class="bg-[#F8DC95CC] text-[#253366] px-3 md:px-6 lg:px-10.75 w-full max-h-[60px] fixed top-0 z-999 border-b overflow-y-clip border-[#FFFFFFB2]"
>
  <div
    class="h-full py-2.5 px-0.5 md:px-4 md:py-2 lg:px-5.5 flex items-center justify-between border-x overflow-y-clip border-[#FFFFFFB2]"
  >
    <div class="w-full max-w-5xl mx-auto flex items-center justify-around">
      <a
        class="flex items-center select-none"
        href="/https://www.instagram.com/municipalidaddealberti/"
      >
        <Image
          src={MuniLogo}
          alt="Logo Municipalidad de Alberti"
          width={33}
          height={46}
          format="webp"
          quality={80}
          loading="eager"
          decoding="async"
        />

        <h1
          id="text-icon"
          class="font-lato font-bold hidden md:block md:text-[1rem] leading-none ml-1 transition-colors duration-300"
        >
          Municipalidad <br />de Alberti
        </h1></a
      >
      <a
        class="flex items-center select-none"
        href="https://www.edensa.com.ar/"
      >
        <Image
          src={EdenLogo}
          alt="Logo Eden"
          height={46}
          widths={[46, 92]}
          sizes="46px"
          format="webp"
          quality={80}
          decoding="async"
        />
      </a>
      <a
        class="flex items-center select-none"
        href="https://www.instagram.com/ecoplan.alberti/"
      >
        <Image
          src={EcoplanLogo}
          alt="Logo Ecoplan"
          height={46}
          widths={[46, 92]}
          sizes="46px"
          format="webp"
          quality={80}
          decoding="async"
        />
      </a>
      <a
        class="flex items-center select-none"
        href="https://www.instagram.com/puntodigitalalberti/"
      >
        <Image
          src={PuntoLogo}
          alt="Logo Punto Digital"
          height={46}
          widths={[46, 92]}
          sizes="46px"
          format="webp"
          quality={80}
          decoding="async"
          class="rounded-full"
        />
      </a>
    </div>
  </div>
</nav>
