---
import videoHero from "../assets/video-hero.mp4";
---

<section class="bg-[#f8dc95] w-full h-svh">
  <div
    class="px-[0.75rem] smMd:px-[1.5rem] lg:px-[2.6875rem] pt-[63px] smMd:pt-[3.75rem] h-[calc(100%-50px)] smMd:h-[calc(100%-60px)]"
  >
    <div class="border-[#FFFFFFB2] border-x-[1px] relative h-[100%]">
      <div class="relative w-full h-full overflow-hidden">
        <div
          id="video-hero"
          class="absolute top-0 left-0 size-full flex items-center justify-center bg-[#f8dc95]"
        >
          <video
            class="w-full h-full object-cover video-mask"
            src={videoHero}
            loop
            autoplay
            playsinline
            muted></video>
        </div>
        <div
          class="flex items-center justify-center absolute top-0 left-0 w-full h-full"
        >
          <h1
            id="title"
            class="text-[2.75rem] smMd:text-[5.75rem] lg:text-[7rem] text-[#f8dc95] font-neuton font-bold select-none opacity-0"
          >
            <span class="tracking-[-0.11rem] smMd:tracking-[-0.23rem]">
              Soberanía
            </span><br />
            <div
              class="text-right mt-[-1.35rem] smMd:mt-[-4.1rem] lg:mt-[-5.1rem]"
            >
              Energética
            </div>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex items-center justify-center py-[0.875rem] smMd:py-[1.055rem] border-t-[1px] border-[#FFFFFFB2] relative"
  >
    <div
      class="smMd:h-[100%] absolute left-[0.75rem] smMd:left-[1.5rem] lg:left-[2.6875rem] w-[1px] bg-[#FFFFFFB2]"
    >
    </div>
    <div
      class="smMd:h-[100%] absolute right-[0.75rem] smMd:right-[1.5rem] lg:right-[2.6875rem] w-[1px] bg-[#FFFFFFB2]"
    >
    </div>

    <div class="animate-bounce text-[#253366]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="32px"
        viewBox="0 -960 960 960"
        width="32px"
        fill="#253366"
        ><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
        ></path></svg
      >
    </div>
    <p
      class="pl-[0.75rem] font-bold smMd:pl-[0.375rem] text-[0.75rem] text-[#253366] uppercase font-neuton tracking-[0.0625rem]"
    >
      Scroll to discover more
    </p>
  </div>
</section>

<style>
  .video-mask {
    mask-image: url("/src/assets/images/27.png");
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: 80%;
  }
</style>

<script>
  import gsap from "gsap";

  const tl = gsap.timeline({});

  tl.from(".video-mask", {
    delay: 0.5,
    maskSize: 0,
    ease: "power3.out",
  })
    .to(
      ".video-mask",
      {
        duration: 3,
        maskSize: "500vw",
        ease: "power1.out",
      },
      2
    )
    .to("#title", {
      opacity: 1,
      ease: "power2.out",
    });
</script>
