---
import img_1 from "../assets/images/paneles/img (1).webp";
import img_2 from "../assets/images/paneles/img (2).webp";
import img_3 from "../assets/images/paneles/img (3).webp";
import img_4 from "../assets/images/paneles/img (4).webp";
import img_5 from "../assets/images/paneles/img (5).webp";
import img_6 from "../assets/images/paneles/img (6).webp";
import img_7 from "../assets/images/paneles/img (7).webp";
import img_8 from "../assets/images/paneles/img (8).webp";
import img_9 from "../assets/images/paneles/img (9).webp";
import img_10 from "../assets/images/paneles/img (10).webp";
import Image from "astro/components/Image.astro";

const images = [
  img_1,
  img_2,
  img_3,
  img_4,
  img_5,
  img_6,
  img_7,
  img_8,
  img_9,
  img_10,
];

const res = await fetch(
  "https://strapi-production-4f4b.up.railway.app/api/soberania-energeticas?sort=fecha:desc",
  {
    headers: {
      Accept: "application/json",
    },
    cache: "force-cache",
  },
);

const { data } = await res.json();

const record = data?.[0];

const ahorroPesos = record?.ahorro_pesos ?? 0;
const precioKWh = 209;
const energiaAhorradaKWh =
  record?.energia_ahorrada_kwh ?? ahorroPesos / precioKWh;
---

<section class="relative h-svh bg-[#ffdc8a]">
  <div
    class="px-3 md:px-6 lg:px-10.75 pt-[60px] h-[calc(100%-50px)] md:h-[calc(100%-60px)]"
  >
    <div class="border-[#FFFFFFB2] border-x relative h-full">
      <div class="relative w-full h-full overflow-hidden">
        {
          images.map((image, index) => (
            <Image
              src={image}
              alt={`Imagen de paneles solares n°${index + 1}`}
              widths={[640, 1024, 1280, 1600]}
              sizes="(max-width: 768px) 100vw, 1247px"
              loading={index === 0 ? "eager" : "lazy"}
              fetchpriority={index === 0 ? "high" : "auto"}
              decoding="async"
              class="hero-img absolute inset-0 w-full h-full object-cover"
            />
          ))
        }
      </div>

      <div
        class="absolute flex flex-col items-center justify-center text-center top-0 left-0 w-full h-full z-999"
      >
        <h1
          class="text-[2.75rem] sm:text-[3.25rem] md:text-[6.75rem] text-[#ffdc8a] font-lato font-bold select-none overflow-y-hidden"
        >
          <span
            class="title-1 inline-block leading-none sm:leading-0 tracking-[-0.11rem] md:tracking-[-0.23rem] text-shadow-md text-shadow-[#253366]"
            >Municipalidad de Alberti
          </span>
        </h1>

        <div class="flex flex-col items-center justify-center w-full">
          <h3
            class="title-2 text-[2rem] sm:text-[2.25rem] md:text-[4.75rem] text-[#ffdc8a] text-shadow-sm text-shadow-[#253366] font-neuton font-semibold select-none overflow-y-hidden mt-4 md:mt-0"
          >
            Soberanía Energética
          </h3>
          <p
            class="text-[1.25rem] md:text-[2.75rem] text-[#ffdc8a] font-lato font-semibold select-none max-w-2xl mt-8 overflow-y-hidden text-left"
          >
            <span
              aria-label={`Generamos: ${Number(energiaAhorradaKWh.toFixed(2)).toLocaleString("es-AR")} kWh`}
              class="subtitle block text-shadow-xs text-shadow-[#253366]"
            >
              – Generamos
              <strong>
                {Number(energiaAhorradaKWh.toFixed(2)).toLocaleString("es-AR")} kWh
              </strong>
            </span>

            <span
              aria-label={`Ahorramos: $${Number(ahorroPesos.toFixed(2)).toLocaleString("es-AR")}`}
              class="subtitle block mt-2 text-shadow-xs text-shadow-[#253366]"
            >
              – Ahorramos
              <strong>
                ${Number(ahorroPesos.toFixed(2)).toLocaleString("es-AR")}
              </strong>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex items-center justify-center h-[50px] md:h-[60px] border-t border-[#FFFFFFB2] relative"
  >
    <div
      class="h-full absolute left-3 md:left-6 lg:left-10.75 w-px bg-[#FFFFFFB2]"
    >
    </div>
    <div
      class="h-full absolute right-3 md:right-6 lg:right-10.75 w-px bg-[#FFFFFFB2]"
    >
    </div>
    <div class="animate-bounce">
      <img
        alt="Down Arrow"
        loading="lazy"
        width="14"
        height="10"
        decoding="async"
        src="https://www.bbc.com/storyworks/specials/humanising-energy/assets/images/icons/scroll_icon.svg"
      />
    </div>
    <p
      class="pl-2 font-bold md:pl-3 text-[0.75rem] text-[#253366] uppercase font-neuton tracking-[0.0625rem]"
    >
      Desliza para descubrir más
    </p>
  </div>
</section>

<style>
  .hero-img {
    opacity: 0;
  }

  .hero-img:first-child {
    opacity: 1;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText);

  let typeSplit: any;
  let typeSplit2: any;
  let subtitleSplit: any;

  typeSplit = new SplitText(".title-1", { type: "chars" });
  typeSplit2 = new SplitText(".title-2", { type: "chars" });
  subtitleSplit = new SplitText(".subtitle", { type: "words" });
  gsap.from(typeSplit.chars, {
    y: "100%",
    opacity: 0,
    duration: 0.6,
    delay: 0.3,
    ease: "power3.out",
    stagger: 0.08,
  });

  gsap.from(typeSplit2.chars, {
    y: "100%",
    opacity: 0,
    duration: 0.5,
    ease: "power3.out",
    delay: 0.8,
    stagger: 0.1,
  });

  gsap.from(subtitleSplit.words, {
    y: "100%",
    opacity: 0,
    duration: 0.4,
    ease: "power3.out",
    delay: 2,
    stagger: 0.1,
  });

  let current = 0;
  let imagesEls: any[] = [];

  imagesEls = Array.from(document.querySelectorAll(".hero-img"));

  gsap.set(imagesEls, {
    opacity: 0,
    clipPath: "inset(0 0% 0 0)",
  });

  gsap.set(imagesEls[0], {
    opacity: 1,
  });

  setInterval(crossfade, 5000);

  function crossfade() {
    const next = (current + 1) % imagesEls.length;

    gsap.set(imagesEls[next], {
      opacity: 1,
      clipPath: "inset(0 100% 0 0)",
      zIndex: 2,
    });

    gsap.to(imagesEls[next], {
      clipPath: "inset(0 0% 0 0)",
      duration: 2,
      ease: "power4.out",
    });

    gsap.to(imagesEls[current], {
      opacity: 0,
      duration: 0.3,
      delay: 1.2,
      onComplete: () => {
        gsap.set(imagesEls[current], { zIndex: 1 });
      },
    });

    current = next;
  }
</script>
