---
import Card from "./ui/Card.astro";


---

<section class="min-h-screen bg-[#253366] text-[#f8dc95]">
    <div class="min-h-screen lg:border-x-[1px] lg:mx-[2.6875rem] border-[#555555CC]">
        <div class="flex flex-col items-center">
            <div class="w-full flex flex-col items-center px-[0.75rem] smMd:px-[1.5rem] lg:px-0 border-b-[1px] lg:border-b-0 border-[#555555CC]">
                <div class="w-full border-x-[1px] lg:border-x-0 text-center text-balance border-[#555555CC]">
                    <h2 class="uppercase font-neuton font-bold text-[1.75rem] smMd:text-[3.25rem] tracking-[0.125rem] smMd:tracking-[0.13rem] pt-12 smMd:pt-20">Technology</h2>
                    <p class="pt-0.5 smMd:pt-2 pb-4 smMd:pb-8 lg:pb-12 text-sm smMd:text-[1.375rem] leading-[1.125rem] smMd:leading-6">
                        What could be the tools for creating change in the energy industry?
                    </p>
                    <div class="w-full flex justify-center lg:border-b-[1px] lg:border-y-[1px] -mt-[1px] border-[#555555CC]">
                        <div class="w-full grid grid-cols-4 smMd:flex smMd:flex-wrap smMd:justify-center px-0 smMd:px-4 gap-[0.6875rem] smMd:gap-4 pb-6 smMd:pb-12 lg:pb-0">
                            <Card/>
                            <Card/>
                            <Card/>
                            <Card/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>