---

---

<section
  class="bg-[#b689f8] px-[0.75rem] smMd:px-[1.5rem] lg:px-[2.6875rem] overflow-x-hidden"
>
  <div
    class="border-[1px] border-[#D3D3D380] border-y-0 flex flex-col justify-center items-center pb-[2rem] smMd:pb-[1.5rem] lg:pb-[1.625rem]"
  >
    <div
      class="h-[1px] w-[89px] hidden smMd:block smMd:mt-[2.875rem] bg-[#D3D3D380]"
    >
    </div>
    <h2
      class="font-neuton font-bold text-white uppercase pt-[3rem] smMd:pt-[1.4375rem] text-[1rem] smMd:text-[1.375rem] pb-[0.75rem] smMd:pb-[0.8125rem] tracking-[0.1875rem] smMd:tracking-[0.154375rem] leading-[1.63625rem]"
    >
      Sobre el Ahorro
    </h2>
    <p
      class="font-neuton font-normal max-w-[780px] text-center text-white text-[1rem] px-[1.25rem] pb-[1.25rem] leading-[1.25rem] tracking-[0.02rem] smMd:text-[1.1875rem] smMd:leading-[1.5625rem] smMd:tracking-[0.02375rem] smMd:px-[2.9375rem] lg:px-[1.125rem]"
    >
      La energía está presente en cada hábito, en nuestros hogares, trabajos y
      comunidades, conectando a personas en todo el mundo. Pero los cambios
      climáticos y las cadenas de suministro interrumpidas nos plantean nuevos
      retos que debemos afrontar junto a las necesidades de siempre.
    </p>
    <p
      class="font-neuton font-normal max-w-[780px] text-center text-white text-[1rem] px-[1.25rem] leading-[1.25rem] tracking-[0.02rem] smMd:text-[1.1875rem] smMd:leading-[1.5625rem] smMd:tracking-[0.02375rem] smMd:px-[2.9375rem] lg:px-[1.125rem]"
    >
      ¿Cómo encontrar el equilibrio entre satisfacer las demandas de hoy y
      construir un futuro más sostenible?
    </p>
  </div>
  <div
    class="border-[1px] border-[#D3D3D380] border-y-0 flex flex-col justify-center items-center relative"
  >
    <div class="h-[1px] bg-[#D3D3D380] w-screen"></div>
    <div
      class="relative flex justify-center items-center w-full max-w-[807px] smMd:px-[1.5625rem] md:px-0 aspect-video"
    >
      <iframe
        width="560"
        height="315"
        class="w-full h-full object-cover"
        src="https://www.youtube.com/embed/jLWTpvi9558?si=B2cS_f-yJkzUJVmM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
    <div class="h-[1px] bg-[#D3D3D380] w-screen"></div>
  </div>
  <div
    class="border-[1px] border-[#D3D3D380] border-y-0 flex flex-col justify-center items-center pt-[2rem] smMd:pt-[1.5rem] lg:pt-[1.625rem] pb-[3.5rem] smMd:pb-[4.5rem]"
  >
    <p
      class="text-balance font-neuton font-normal max-w-[780px] text-center text-white text-[1rem] px-[1.25rem] leading-[1.25rem] tracking-[0.02rem] smMd:text-[1.1875rem] smMd:leading-[1.5625rem] smMd:tracking-[0.02375rem] smMd:px-[2.9375rem] lg:px-[1.125rem]"
    >
      Transformar el sistema energético requiere ideas innovadoras y soluciones
      a medida. Estos pioneros están dedicando su energía a resolver los tres
      pilares del Trilema Energético Mundial: seguridad, equidad y
      sostenibilidad.
    </p>
  </div>
</section>
