---
import './src/styles/global.css'

import Header from '../components/Header.astro'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Soberania Energética Alberti</title>

		<style>
			@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
			</style>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		box-sizing: border-box;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
